<!doctype html>
<html>

<head>
    <title>{{space.title}}</title>
</head>

<body>
<div class="cleanair">
<h1>{{space.title}}</h1>
<br />
{% if current_user %}
	<h2>Hi {{current_user.nickname}}, are are signed in.</h2>
	<p><a href="/auth/signout">Sign out</a></p>
{% else %}
	<h2>Sign in with <a href="/auth/twitter">twitter</a> or <a href="/auth/facebook">facebook</a> to like topics.</h2>
{% endif %}
<br />
</div>

<div class="crap">
<h2>List of crap</h2>
	{% if space.ideas != empty %}
	<ul>
		{% for idea in space %}
		<li><a href="{{idea.permalink}}" title="link to full page for {{idea.title}}"><img src="{{idea.images.first.square}}" alt="thumbnail for {{idea.title}}" class="thumbnail" /></a></li>
		{% endfor %}
	</ul>
	{% else %}
	<p class="warning">No crap here!</p>
	<p><a href="#" title="#" class="btn primary add  showbtn">+ Add some doo-doo</a></p>
	{% endif %}
</div>

{{ yield }}

<div class="footer">
	<p>Under the crap.</p>
</div>
</body>
</html>