<!doctype html>
<html>

<head>
    <title>{{space.title}}</title>
</head>

<body style="bgcolour : blue;">
<div class="cleanair">
<h1>{{space.title}}</h1>
<p>{{space.summary}}</p>
<br />
{% if current_user %}
	<h2>Hi {{current_user.nickname}}, are are signed in. <a href="/auth/signout">Sign out</a><h2>
{% else %}
	<h2>Sign in with <a href="/auth/twitter">twitter</a> or <a href="/auth/facebook">facebook</a> to like stuff.</h2>
{% endif %}
<br />
</div>

<div class="crap">
<h2>List of crap</h2>
	{% if space.ideas != empty %}
	<ul>
		{% for idea in space %}
		<li><a href="{{idea.permalink}}" title="link to full page for {{idea.title}}"><img src="{{idea.images.first.square}}" alt="thumbnail for {{idea.title}}" class="thumbnail" /></a></li>
		{% endfor %}
	</ul>
	{% else %}
	<p class="warning">No crap here!</p>
	<div id="new-idea" style="display: block;">
	<h3>Add some crap...</h3>
	<form id="entry_form" class="clearfix" enctype="multipart/form-data" action="okthisone/ideas" method="post">	
	<fieldset>
	<input id="idea_title" class="span4" type="text" placeholder="Title" name="idea[title]">
	<textarea id="idea_content" placeholder="Your crap" rows="3" name="idea[content]"></textarea>
	<div class="checkarea">
	<input type="checkbox" checked="" value="1" name="idea[should_post_to_social]">
	share this crap with others?
	</div>
	<input class="btn primary submit" type="submit" value="add idea">
	</fieldset>
	</form>
	</div>
	{% endif %}
</div>


<div class="footer">
	<p>Under the crap.</p>
</div>
</body>
</html>